#include <winver.h>
#include "rcVersion.h"

#define LIBEXSLT_MAJOR_VERSION LIBXSLT_MAJOR_VERSION
#define LIBEXSLT_MINOR_VERSION LIBXSLT_MINOR_VERSION
#define LIBEXSLT_MICRO_VERSION LIBXSLT_MICRO_VERSION
#define LIBEXSLT_DOTTED_VERSION LIBXSLT_DOTTED_VERSION

VS_VERSION_INFO		VERSIONINFO
  FILEVERSION		LIBEXSLT_MAJOR_VERSION,LIBEXSLT_MINOR_VERSION,LIBEXSLT_MICRO_VERSION,0
  PRODUCTVERSION	LIBEXSLT_MAJOR_VERSION,LIBEXSLT_MINOR_VERSION,LIBEXSLT_MICRO_VERSION,0
  FILEFLAGSMASK		VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
  FILEFLAGS		VS_FF_DEBUG
#else
  FILEFLAGS		0
#endif
  FILEOS		VOS__WINDOWS32
  FILETYPE		VFT_DLL
  FILESUBTYPE	VFT2_UNKNOWN	// not used
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "04090000"  /* Lang = US English, Charset = ASCII */
    BEGIN
      VALUE "FileDescription",	"libexslt library\0"
      VALUE "FileVersion",	LIBEXSLT_DOTTED_VERSION "\0"
      VALUE "InternalName",	"libexslt.dll\0"
      VALUE "LegalCopyright",	"Copyright (C) Thomas Broyer, Charlie Bozeman and Daniel Veillard\0"
      VALUE "LegalTrademarks",	"\0"
      VALUE "OriginalFilename",	"libexslt.dll\0"
      VALUE "ProductName",	"libexslt\0"
      VALUE "ProductVersion",	LIBEXSLT_DOTTED_VERSION "\0"
      VALUE "Comments",		"For more information visit <http://xmlsoft.org/XSLT/>. Alternative build from <https://github.com/kiyolee/libxslt-win-build/>.\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
      VALUE "Translation", 0x0409, 0  /* US English, ASCII */
  END
END
